@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway-Regular.ttf');
}

/*Header*/

#logo                                                                       
{
    width: 100px; 
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}

#banniere
{
    display: flex; 
    justify-content: space-between;
    width: 100%;
}

header a                                    
{
    margin-left: 15px;
    padding-right:25px;
    padding-left: 25px;
    color: black;
    text-decoration: none;
}

#menu 
{
    display: flex;
    list-style-type: none;
    align-items: center;
    margin-right: 75px;
}

#menu a:hover                                                                                                                       
{
    border-top: 2px #0065FC solid;
    padding-top: 50px;
    color: #0065FC;
}

#inscription 
{
    color: #0065FC;
}

#titre
{
    margin-left: 50px;
}

/*Body*/